.mainHead {
    margin-top: 300px;
    padding-top:20px;
    width: 100%;
    max-height: 60%;
    letter-spacing: 4px;
    text-align: right;
    text-transform: uppercase;
    top:0;
    background-color:white;
}

nav {
    letter-spacing: 4px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 300px;
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    position: sticky;
    top: 0;
    background-color: white;
}

.headerClass {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:200px;
}
.bodyClass {
    margin-left:10%;
}
.info {
    margin-bottom:50px;
}

h1, h2, h3, h4{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing:2px;
    text-transform:uppercase;
}

.menuList {
    display:inline;
}

ul {
    list-style-type:none;
}

a, a:visited {
    color:black;
    text-decoration:underline;
}

p, li{
    font-size:large;
    font-family:'Century Gothic';
}